@import url("_global_helpers.css");

/* Text Colors */

.text-white, .text-white * { color: white; }
.text-grey, .text-grey * { color: #989898; }
.text-gold, .text-gold * { color: #FCB414; }
.text-light-blue, .text-light-blue * { color: #8298BF; }
.text-dark-blue, .text-dark-blue * { color: #16224A; }


/* Background Colors */

.background-white-50 {
	background: rgba(237,237,237,0.66);
}
.background-dark-blue { background: #16224A; }
.background-light-blue { background: #8298BF; }
.background-white { background: white; }
.background-light-gray { background: #d1d1d1 !important; }

@media only screen and (max-width : 480px) {
    .background-white-50-mobile {
        background: rgba(237,237,237,0.66);
    }
}



/* Font CSS */

.text-bitter { font-family: 'Bitter', serif; }
.text-raleway { font-family: 'Raleway', sans-serif; }


/* Border Colors */

.border-bottom-gold-3 { border-bottom: solid 3px #FCB414; }
.border-white { border: solid 1px white; }


/* Shadow CSS */

.navbar li a {
    padding-left: 30px;
    padding-right: 30px;
}

.primary-menu li a {
    padding-bottom: 5px;
    padding-top: 5px;
}

.primary-menu li a:hover {
    color: white;
    background: #FCB414;
}



/* Universal Styles */

html, body {
    font-family: 'Raleway', sans-serif;
}

input, textarea, select { border-radius: 0 !important; }



/* Bootstrap Overrides */

.carousel-indicators { all: unset; }

.carousel-indicators .active { height: auto; }

@media only screen and (max-width : 480px) {
    .carousel-indicators .active { width: 100% !important; }
}
