@import url("_global_helpers.css");

/* Text Colors */

.text-white, .text-white * { color: white; }
.text-grey, .text-grey * { color: #989898; }
.text-gold, .text-gold * { color: #FCB414; }
.text-light-blue, .text-light-blue * { color: #8298BF; }
.text-dark-blue, .text-dark-blue * { color: #16224A; }


/* Background Colors */

.background-white-30 {
	background: rgba(254,254,254,0.3);
}
.background-dark-blue { background: #16224A; }

/* Font CSS */

.text-bitter { font-family: 'Bitter', serif; }
.text-raleway { font-family: 'Raleway', sans-serif; }


/* Border Colors */

.border-bottom-gold-3 { border-bottom: solid 3px #FCB414; }


/* Shadow CSS */

.navbar li a {
    padding-left: 30px;
    padding-right: 30px;
}

.primary-menu li a {
    padding-bottom: 5px;
    padding-top: 5px;
}

.primary-menu li a:hover {
    color: white;
    background: #FCB414;
}



/* Universal Styles */

html, body {
    font-family: 'Raleway', sans-serif;
}

input, textarea, select { border-radius: 0 !important; }

